body{
    width: 100%;
    margin: 0;
    background-color: powderblue;
    color: white;
}
h1{
    text-align: center;
}
.bety{
    width: 50%;
    height: 50%;
    background-color: black;
    float: left;
}
.portfel{
    width: 50%;
    background-color: skyblue;
    float: left;
}